
[Unit]
Description=roller-stratum2b

[Service]
Type=simple
ExecStart=/home/roller/cryptopools.info-pools/build/bin/open-callisto-pool /home/roller/cryptopools.info-pools/node/configs/stratum2b.json

[Install]
WantedBy=multi-user.target

